:root{
    --font-ic: "sf-pro-icons", 'sf-pro-display',"Apple Gothic", "HY Gulim", "MalgunGothic", "HY Dotum", "Lexi Gulim", "Helvetica Neue", "Helvetica", "Arial",'Noto Sans KR', 'Malgun Gothic', sans-serif;
    --background-color:#1d1d1f;
    --color-white:#f5f5f7;
    --color-gray:#a1a1a6;
    --color-link: #2997ff;
    --box-border-radius: 30px;
    --box-border-radius2: 25px;
}


body{
    position: relative;
    /* font-family: "SFPro-KR-Display", "sf-pro-text", "sf-pro-icons", 'sf-pro-display',"Apple Gothic", "HY Gulim", "MalgunGothic", "HY Dotum", "Lexi Gulim", "Helvetica Neue", "Helvetica", "Arial",'Noto Sans KR', 'Malgun Gothic', sans-serif; */
    font-family: "SFPro-KR-Display", "sf-pro-text", "sf-pro-icons", sans-serif; /* 궁서.고딕 */
    /* line-height: 1.15; */
    
    background-color: #1d1d1f;
    color: #f5f5f7;
}
body.hidden{overflow: hidden;}

button{font-family: "SFPro-KR-Display", "sf-pro-text", "sf-pro-icons", sans-serif;}


/* .m1-more{
    background-color: transparent;
    border: 2px solid;
    border-radius: 100px;
    padding: 9px 17px;
    font-weight: 600;
    white-space: normal;
}
.m2-more{
    display: inline-block;
    border-radius: 100px;
    padding: 4px 11px;
    font-size: 12px;
    font-weight: 600;
    white-space: normal;
    margin-top: 20px;
    background: #0071e3;
} */


.blind{
    width: 1px;
    height: 1px;
    overflow: hidden;
    margin: -1px;
    position: absolute;
    clip: rect(0, 0, 0, 0);
}




/* font-size */

.headline-super{ font-size: 80px; line-height: 1.15; font-weight: 700; word-break: keep-all;}
.headline-medium{ font-size: 56px; word-break: keep-all;}

.desc-super{ font-size: 32px; line-height: 1.375;word-break: keep-all;}
.desc-large{ font-size: 28px; line-height: 1.25;word-break: keep-all;}
.desc-medium{ font-size: 19px; line-height: 1.52632;word-break: keep-all;}

.title-normal{ font-size: 21px; font-weight: 600;margin-bottom: 0.4em;}

/* 80* headline-super
56* headline-medium

32* desc-super
28* desc-large
19* desc-medium

21* title-normal */

/* layout */
.common-inner1{ max-width: 980px; margin: 0 auto; }
.common-inner2{ max-width: 1390px; padding: 0 24px; margin: 0 auto; }
.inner1{
    max-width: 1024px;
    margin: 0 auto;
    padding: 32px 22px 80px;
    box-sizing: border-box;
}


.section{margin-top: 170px;}
.sc-header{padding-top: 41px;}


/* common content */
.section .content{
    border-radius: 30px;
    overflow: hidden;
    background: #ccc;
    min-height: 700px; 
    display: flex;
    flex-direction: column;
}
.section .content2{
    border-radius: 30px;
    overflow: hidden;
    background: #ccc;
    min-height: 599px; 
    display: flex;
    flex-direction: column;
}
.section .content-wrapper > * + *{margin-top: 24px;}/* gap을 안쓰고하는방법 */
.section .content > .title{padding: 40px 40px 0;}
.content .group-flex{ flex: 1;display: flex; align-items: center; }
.section .content2 > .title{padding: 40px 40px 0;}
.content2 .group-flex{ flex: 1;display: flex; align-items: center; }

.link-target{
    font-size: 0.5em;
    display: inline-block;
    vertical-align: super;
}
.link-target:hover{
    color: var(--color-link);
}

.link-detail{
    background-color: transparent;
    border: 2px solid;
    border-radius: 100px;
    padding: 9px 17px;
    font-weight: 600;
    white-space: normal;

}
.link-more{color: var(--color-link);}
.link-more::after{
    content: '';
    display: inline-block;
    /* margin-left: 3px; */
    padding-left: 0.3em;
    top: -0.08em;
    text-decoration: none;
    font-family: "sf-pro-icons";
}
.link-more:hover{text-decoration: underline;}


/* .content.cpu .group-flex > *{flex: 1;}
.content.gpu .info-area {
    display: flex;
    align-items: center;
    padding: 0 40px;
    justify-content: space-between;
} */










@media screen and (max-width: 1068px) {
    /* *1024을 기준으로 화면을 보고 잡아야함 */ 

    .inner1{
        max-width: 692px;
    }
    .headline-super{font-size: 64px;}
    .section .content{min-height: 680px;}
    .desc-large{font-size: 24px;}
    /* .common-inner2{padding: 0;} */
    .section .content2{min-height: 550px;}
    .common-inner1{padding: 0 22px;}
}

@media screen and (max-width: 833px) {
    /* *768을보고 잡아야함 */
    .inner0{
        padding: 0 16px;
        height: 100%;
        box-sizing: border-box;
        position: relative;
    }
    
  
}

@media screen and (max-width: 767px) {
    /* *320을 보고 잡아야함 */
    .common-inner1{padding: 0 16px;}
    .common-inner2{max-width: 400px;}
    .section .content > .title{
        padding: 30px 30px 0;
        letter-spacing: .012em;
        font-size: 19px;
    }
    .content .group-flex{
        flex-direction: column;
        align-items: flex-start;
    }
    .section .content{min-height: 546px;    border-radius: 20px;}
    .sc-header{padding-top: 0;}
    .desc-large{font-size: 21px;}

    .section .content2{border-radius: 20px;}
}
