@import url(./fonts.css);
@import url(./reset.css);
@import url(./common.css);

.header{background: rgb(21, 21, 22, 0.72);
    backdrop-filter: saturate(180%) blur(20px);position: relative;z-index: 999;
    font-family: 'SFPro-KR-Display';}
/* .header .nav-area{background: rgba(0,0,0,0.8);} */

.header .header-nav{
    display: flex;
    justify-content: space-between;
    gap: 3%;
}

.header .nav-bg{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0px;
    background: rgb(22 22 23);
    transition: 0.3s;
}
.header .nav-list{
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    /* opacity: 0.8; */
    height: 44px;
    visibility: visible;
    transition: visibility 0.7s ease-in;
}
.header .nav-area .nav-right{display: flex; gap: 22px;}

.header .nav-area .nav-right .right-box{
    padding: 0 8px;
    transition: color 0.3s ease-in;
    /* cursor: pointer; */
    overflow: hidden;
    font-size: 12px;
    color: rgba(18, 6, 6, 0.8);
}
.header .nav-area .menu-wrap{display: none;}




.header .nav-item{
    padding: 0 8px;
    transition: color 0.3s ease-in;
    /* cursor: pointer; */
    overflow: hidden;
    font-size: 12px;
    color: rgba(255, 255, 255, .8);
}
.header .logo{
    display: inline-block;
    background: url(../imges/logo/globalnav_apple_image__b5er5ngrzxqq_large.svg)no-repeat center;
    width: 14px;
    height: 44px;

    background-size: 14px 44px;
    opacity: 0.8;
    transition: opacity 0.3s ease-in;
}
.header .nav-item > a{display: inline-block;height: 100%;}
.header .logo:hover{opacity: 1;}
.header .nav-list .nav-item:hover{
    color: #fff;
}

.nav-item .nav-wrap{
    position: absolute;
    z-index: 999;
    /* max-height: calc(100% - 44px); */
    top: 44px;
    left: 0;
    right: 0;
    background: rgb(22 22 23);
    width: 100%;
    visibility: hidden;
    opacity: 0;
}



.header .nav-item .nav-wrap .inner1{display: flex;}
.header .nav-item .nav-wrap .sub-list:first-child{
    padding-right: 88px;
    font-size: 24px;
}
.header .nav-item .nav-wrap .sub-list:first-child .sub-item{
    padding: 9px 11px;
}
.nav-wrap .sub-list .sub-title{
    font-size: 12px;
    color: rgb(134, 134, 139);
    line-height: 1.3333733333;
    font-weight: normal;
}
.header .nav-item .sub-list{
    padding-right: 44px;
    font-size: 12px;
    user-select: none;
}
.nav-wrap .sub-list .sub-item{
    font-weight: bold;
    line-height: 1.1666666667;
    padding: 7px 11px;
    margin-bottom: -6px;
    margin-left: -11px;
    color: #E8E8ED;
    /* text-decoration: none; */
    transition: color .32s cubic-bezier(.4,0,.6,1);
    letter-spacing: .009em;
    color: rgba(255, 255, 255, .8);
}
.nav-wrap .sub-list .sub-item:hover{
    color: #fff;
}
.nav-wrap .sub-list+.sub-list .sub-item:nth-child(2){
    margin-top: 14px;
}
.nav-wrap .sub-list .sub-small{font-size: 12px;}
.nav-wrap .sub-list .sub-small.first{margin-top: 14px;}

.header .nav-item .nav-ck img{
    transition: all 0.3s ease-in;
    transform: translateX(0);
}
/* 제이쿼리 */
.nav-item .nav-wrap.on{
    opacity: 1;
    visibility: visible;
    transition: 0.3s 0.2s;
}



.header .nav-area .link-search{
    display: inline-block;
    background: url(../imges/icon/header/search.svg) no-repeat center;
    width: 15px;
    height: 44px;
    opacity: 0.8;
    transition: opacity 0.3s ease-in;
    background-position: 0 0;
    background-size: 100%;
}
.header .nav-area .link-cart{
    display: inline-block;
    width: 13px;
    height: 44px;
    opacity: 0.8;
    transition: opacity 0.3s ease-in;
    background: url(../imges/icon/header/basket.svg) no-repeat center;
}
.header .nav-area .link-search:hover{opacity: 1;}
.header .nav-area .link-cart:hover{opacity: 1;}
.header .nav-area .m-btn{display: none;z-index: 99;}




.header-bottom{
    position: sticky;
    top: 0;
    /* z-index: 99; */
    background: rgb(21, 21, 22, 0.72);
    height: 66px;
    border-bottom: 1px solid rgba(255,255,255,0.24);
    padding: 14px 0;
    box-sizing: border-box;
    width: 100%;

    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
}
.header .h-bottom{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.header-bottom.index{z-index: 99;background: rgba(29,29,31,0.9);}



.header-bottom .common-inner1{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.header-bottom .bottom-title{
    display: block;
    font-size: 21px;
    font-weight: 600;
    letter-spacing: .011em;
    /* margin: 14px 0 -14px; */
    color: #fff;

    /* display: flex;
    flex-direction: column; */
}
.header-bottom .bottom-name{
    display: block;
    font-size: 12px;
    font-weight: 400;
    opacity: 0.61;
    margin-bottom: 5px;
}
.menu-right{
    font-size: 12px;
    display: flex;
    align-items: center;
    gap: 24px;
}
.menu-right em{opacity: 0.56;}
.header-bottom .menu-item{overflow: hidden;}
.header-bottom .menu-item:first-child{
    opacity: 0.56;
    display: none;
}
.header-bottom .menu-list{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 24px;
}
.header-bottom .m-menu{display: none;}

.header-bottom .menu-item:nth-child(1)  :hover{
    color: #2997ff;
}
.header-bottom .menu-item:nth-child(2)  :hover{
    color: #2997ff;
}

.header-bottom .menu-item:last-child{
    display: inline-block;
    text-align: center;
    background: #0071e3;
    border-radius: 50px;
    
    font-weight: 400;
    letter-spacing: -.01em;

    padding: 4px 11px;
}



.h-nav-area{
    display: none;
    background: rgba(0,0,0,0.8);
    height: 48px;
    width: 100%;
    position: relative;
}
.h-nav-area > a{
    display: inline-block;
}
.h-nav-area .h-nav-box{
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}
.h-nav-area .h-nav-box .logo{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.h-nav-area .btn-menu{
    width: 30px;
    height: 30px;
    text-align: center;
}
.h-nav-area .btn-menu .btn-menu-top{
    width: 17px;
    height: 1px;
    background: #fff;
    border-radius: 0.5px;
    display: inline-block;
}
.h-nav-area .btn-menu .btn-menu-bott{
    width: 17px;
    height: 1px;
    background: #fff;
    border-radius: 0.5px;
    display: inline-block;
}
.h-nav-area .btn-cart{
    display: inline-block;
    /* width: 13px;
    height: 44px; */
    padding: 0 16px;
    width: 15px;
    height: 48px;
    background-size: 15px 48px;
    background: url(../imges/icon/header/basket.svg) no-repeat center;
}

.menu-btn{
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    background: #000;
    margin-left: auto;
    margin-right: 15px;
    display: none;
}
.menu-btn::before{
    content: "";
    display: inline-block;
    position: absolute;
    top: 13px;
    width: 11px;
    height: 1px;

    transform-origin: 100% 100%;
    transform: rotate(40deg) scaleY(1.1);
    right: 50%;
    border-radius: 0.5px 0 0 0.5px;
    background: #fff;
    transition: transform 1s cubic-bezier(0.86, 0, 0.07, 1),transform-origin 1s cubic-bezier(0.86, 0, 0.07, 1);
}
.menu-btn::after{
    content: "";
    display: inline-block;
    position: absolute;
    top: 13px;
    width: 11px;
    height: 1px;

    transform-origin: 0% 100%;
    transform: rotate(-40deg) scaleY(1.1);
    left: 50%;
    border-radius: 0 0.5px 0.5px 0;
    background: #fff;
    transition: transform 1s cubic-bezier(0.86, 0, 0.07, 1),transform-origin 1s cubic-bezier(0.86, 0, 0.07, 1);
}
.menu-buy{
    display: inline-block;
    text-align: center;
    background: #0071e3;
    border-radius: 50px;
    font-weight: 400;
    letter-spacing: -.01em;
    padding: 4px 11px;
    display: none;
}












/* footer */
.footer .content.sc-guide{}
.footer .content .guide-list{
    padding: 56px 0;
    display: flex;
    border-bottom: 1px solid #424245;
}
.footer .content .guide-item{
    text-align: center;
    flex: 1;
    max-width: 410px;
    margin: 0 auto;
}
.footer .content .guide-item a{
    cursor: pointer;
    display: block;
    margin: 0 auto;
    line-height: 1.5;
    width: 216px;
    word-break: keep-all;
}

.footer .content .img-area{}
.footer .content .img-area.benefit1{
    background: url(../imges/icon/icon_dark_large-mon.svg)no-repeat;
    height: 56px;
    background-size: 100% 56px;
}
.footer .content .img-area.benefit2{
    background: url(../imges/icon/icon_dark_large_box.svg)no-repeat;
    height: 56px;
    background-size: 100% 56px;
}
.footer .content .img-area.benefit3{
    background: url(../imges/icon/icon_dark_large_talk.svg)no-repeat;
    height: 56px;
    background-size: 100% 56px;
}

.footer .content .guide-title{
    display: block;
    font-size: 19px;
    font-weight: 600;
    letter-spacing: .012em;
    margin-top: 0.525em;
}
.footer .content .desc{
    font-size: 14px;
    margin-top: 0.4em;
}
.footer .content .link-more{
    font-size: 14px;
    margin-top: 0.4em;
    display: block;
}




.footer .article-area{
    padding: 17px 0 11px;
    font-size: 12px;
    color: #86868b;
    border-bottom: 1px solid #424245;
}
.footer .article-area .article-list{
    padding: 0 17px;
    word-break: keep-all;
    list-style: auto;
}
.footer .article-area .article-item{
    padding-bottom: 0.8em;
    line-height: 1.3;
}
.footer .article-area .link-article{
    color: #d2d2d7;
}
.footer .article-area .link-article:hover{
    text-decoration: underline;
}




/* footer-desc */
.footer .footer-desc{
    font-size: 12px;
    color: #d2d2d7;
}
.footer .footer-desc .footer-menu{
    margin: 17px 0;
}
.footer .footer-desc .footer-menu > a{
    display: inline-block;
}
.footer .footer-desc .ic-apple{
    display: block;
    background: url(../imges/icon/icon_dark_large.svg) no-repeat;
    width: 14px;
    height: 18px;
    background-size: 14px 72px;
    vertical-align: middle;
}
.footer .footer-menu a:hover{
    text-decoration: underline;
}
.footer .footer-menu-item+.footer-menu-item::before{
    content: '';
    display: inline-block;

    width: 8px;
    height: 18px;

    background-size: 8px 36px;
    background: url(../imges/icon/icon_dark_large_arrow.svg) no-repeat;
    margin: -1px 11px 0 7px;
    vertical-align: middle;
}
.footer .m-store{padding-top: 24px;}




/* .store-wrapper */
.footer .store-wrapper{
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    gap: 20px;
    height: 337px;
    line-height: 1.3;
    margin-bottom: 20px;
}
.footer .store-wrapper .group-col{flex: 1;}
.footer .store-wrapper .store-area{
    display: block;
    transform: translate(0,0);
    opacity: 1;
}
.footer .store-wrapper .store-area:nth-child(2){padding-top: 24px;}
.footer .store-wrapper .store-area .btn-open{user-select: none;font-size: 12px;pointer-events: none;}
.footer .store-wrapper .store-title{
    margin-bottom: 0.8em;
    color: var(--color-white);
    font-weight: 500;
    display: block;
}
.footer .store-wrapper .store-title .btn-open{cursor: default;}
.footer .store-wrapper .store-title .open{display: none;}
.footer .store-wrapper .store-list{
    opacity: 1;
    transform: translate(0, 0);
    display: block;
}
.footer .store-list > li{
    margin-bottom: 0.8em;
}
.footer .store-wrapper .store-item{}
.footer .store-wrapper .store-item:hover{
    text-decoration: underline;
}
.footer .store-item > a{
    display: block;
}



.footer .f-store-item .store-item:hover{
    text-decoration: underline;
}

.footer .footer-copy{
    color: #86868b;
    padding: 34px 0 21px;
}
.footer .footer-copy .store-call{
    margin-bottom: 7px;
    padding-bottom: 8px;
    border-bottom: 1px solid #424245;
}
.footer .footer-copy .link-copy{
    color: var(--color-link);
    text-decoration: underline;
}
.footer .footer-copy .link-copy:hover{
    text-decoration: underline;
}

.footer .footer-copy .copy{
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    line-height: 1.2;
}
.footer .footer-copy .copy-list{
    display: flex;
    margin-left: 30px;

    color: #d2d2d7;
}
.footer .footer-copy .copy-item a{
    display: inline-block;
}
.footer .copy a:hover{
    text-decoration: underline;
}
.footer .footer-copy .copy-item+.copy-item::before{
    content: '';
    width: 1px;
    height: 12px;
    background: #d2d2d7;
    margin: 0 10px;
    display: inline-block;
    vertical-align: middle;
}
.footer .footer-copy .korea{
    display: inline-block;
    margin-left: auto;
}
.footer .store-wrapper .store-area .open{
    display: none;
}
.footer .m-store{padding: 0;}


.dimmed{
    position: fixed;
    top: 0;left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.34);
    z-index: 1;
    visibility: hidden;
    opacity: 0;

    transition: opacity .32s cubic-bezier(.4,0,.6,1) 80ms,visibility .32s step-start 80ms;
    backdrop-filter: blur(20px);

}
/* 제이쿼리 */

.dimmed.active{
opacity: 1;
visibility: visible;
}

.search-area{
    z-index: 30;

    /* position: fixed; */
    position: absolute;
    left: 50%;
    top: 0;
    z-index: 999;
    transform: translateX(-50%);

    /* display: none; */
    width: 100%;
    max-height: calc(100% - 44px);
    top: 44px;
    box-sizing: border-box;
    background: rgb(22 22 23);
}
.search-area .inner{background: rgb(22 22 23);}
/* 제이쿼리 */
.search-area.active{
    display: block;
}

.search-area .search-wrap{
    display: none;
    background: rgb(22 22 23);
}


.search-area .search-box{
    height: 44px;
    line-height: 44px;
}
.search-area .search-box .link-box{
    position: relative;
    /* width: 682px; */
    width: 100%;
    height: 44px;
    display: flex;
    align-items: center;
}
.search-area .link-box .btn-search{
    fill: rgb(134, 134, 139);
}
.search-area .link-box .text{
    position: absolute;
    /* top: 0; */
    width: 89%;
    height: 44px;
    background: transparent;
    box-sizing: border-box;
    border: none;

    color: #fff;
    outline:none;

    letter-spacing: .009em;
    font-size: 24px;
    user-select: none;
    font-weight: bold;
    padding: 0 34px;
}
.search-area .link-box .text.m-text{display: none;}
.search-area .link-box .close{
    position: absolute;
    z-index: 4;
    width: 37px;
    height: 44px;
    top: 0;
    right: 0;
    color: #86868b;
    /* background: #f00; */
    display: none;
}
.search-area .link-box .close .close-left{
    height: 17px;
    width: 1px;
    background: #86868b;
    position: absolute;
    display: block;
    border-radius: 0.5px;
    top: 11px;
    z-index: 1;

    right: 12px;
    transform: rotate(-45deg);
    transform-origin: 50% 100%;
}
.search-area .link-box .close .close-right{
    height: 17px;
    width: 1px;
    background: #86868b;
    position: absolute;
    display: block;
    border-radius: 0.5px;
    top: 11px;
    z-index: 1;

    left: 12px;
    transform: rotate(45deg);
    transform-origin: 50% 100%;
}

.search-area .sup-area{
    font-size: 14px;
    line-height: 2;
    letter-spacing: -.016em;
    background: #fff;
    border-top: none;
    /* height: 239px; */
    height: auto;

    border-top: 1px solid transparent;
    padding: 23px 8px 13px;
    background: rgb(22 22 23);
    color: #fff;

}
.search-area .sup-area .sup-title{
    font-size: 12px;
    color: rgb(134, 134, 139);

}

.search-area .sup-area .sup-list{
    padding: 5px 0 0 0;
    /* color: #1d1d1d; */
}
.search-area .sup-area .sup-item a{
    /* display: block; */
    color: #fff;
    font-size: 12px;
    display: flex;

}
.search-area .sup-area .sup-item:hover a{
    background: #1D1D1f;
    border-radius: 8px;
}
.search-area .sup-area .sup-item .m-arrow{
    fill: currentcolor;
    color: rgb(134, 134, 139);
    display: inline-block;
    margin-right: 11px;
    height: 25px;
    vertical-align: top;
}



@media screen and (max-width: 1200px) {
    /* max-width: 1068px */
    /* *1024을 기준으로 화면을 보고 잡아야함 */ 

    .header .header-bottom .menu-list{display: flex;}

    .header .nav-item .nav-wrap .inner1{
        width: 100%;
    }

}

@media screen and (max-width: 1023px) {
    /* *768을보고 잡아야함 */
    .container.index{position: relative;z-index: -9;}
    .header .nav-area .common-inner1{
        align-items: center;
        padding-right: 0;
    }
    .header .logo{margin-right: auto;}
    /* .header .nav-list{display: none;} */
    .header .nav-list .nav-item+.nav-item{display: none;}
    .header .nav-area .nav-right .nav-item:last-child{display: flex;}
    .header .nav-area .nav-right{ gap: 0;margin-right: 48px;}
    .header .nav-right .nav-item{
        padding: 0 9px;
        width: 48px;
        height: 48px;
        box-sizing: border-box;
        text-align: center;
    }
    .header .nav-area .nav-right .right-box{
        padding: 0 9px;
        width: 48px;
        height: 48px;
        box-sizing: border-box;
        text-align: center;
    }
    .header .nav-list .nav-right .nav-item{display: flex;}
    .header .nav-right .nav-item:last-child{z-index: 99;}
    .header .nav-right .nav-item:last-child .m-btn{
        height: auto;
    }

    .header .nav-area .link-search{
        height: 48px;
        width: 18px;
        /* margin: 0 9px; */
    }
    .header .nav-area .link-cart{
        height: 48px;
        width: 20px;
        margin-top: 2px;
        /* margin: 0 9px; */
    }
    .header .nav-area .m-btn{
        transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
        position: absolute;
        display: flex;
        right: 0;
        top: 0;
        width: 48px;
        height: 48px;
        align-items: center;
        justify-content: center;
        z-index: 9999;
    }
    .header .nav-area .m-btn .close-line1,.close-line2{
        transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    .header .nav-area .m-btn.active{margin-right: 17px;}
    .header .nav-area .m-btn.active .close-line1{
        transform: rotate(-45deg);
        transform-origin: 34% 60%;
        transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    .header .nav-area .m-btn.active .close-line2{
        transform: rotate(45deg);
        transform-origin: 19% 41%;
        transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    }



    .header .nav-area .menu-wrap{
        display: block;
        position: fixed;
        visibility: hidden;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        background: #161617;
        z-index: 9;
        transform: translateY(-100%);
        transition: all .32s cubic-bezier(.4,0,.6,1);
    }
    .header .nav-area .menu-wrap.active{
        /* display: block; */
        transform: translateY(0%);
        overflow-y: scroll;
        visibility: visible;
    }

    .header .nav-area .menu-wrap .menu-list{
        padding: 50px 0 84px;
    }
    .header .nav-area .menu-wrap .menu-item{
        margin-bottom: -7px;
        padding: 3px 19px 4px 48px;
        font-size: 28px;
        line-height: 1.14;
        font-weight: 600;
        height: 44px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        opacity: 1;
        transform: translateY(0);
    }
    .header .nav-area .menu-wrap .menu-item a{display: block;width: 100%;}
    .header .nav-area .menu-wrap .menu-item .menu-arrow{
        display: block;
        height: 47px;
        fill: currentColor;
        transform: scaleX(-1) translateZ(0) translateX(9px);
        transition: all .24s cubic-bezier(.4,0,.6,1);
        opacity: 0;
    }

    .header .nav-area .menu-item:hover .menu-arrow{
        transform: scaleX(-1) translateZ(0) translateX(0);
        opacity: 1;
    }




    .header .nav-area{background-color: rgba(29,29,31,0.9);}
    .header-bottom{background-color: rgba(29,29,31,0.9);z-index: 99;height: 63px;}
    .header-bottom .bottom-title{
        font-size: 19px;
        font-weight: 500;
        letter-spacing: -0.011em;
    }
    .header-bottom .menu-list{display: none;}
    .menu-right em{display: none;}
    .header-bottom .menu-list{display: none;}
    .header-bottom .m-box{display: none;}
    .header-bottom .m-menu{
        position: absolute;
        width: 100%;
        top: 100%;
        left: 0;
        z-index: 99;

        display: flex;
        gap: 24px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        background-color: rgba(29,29,31);
        padding: 4px 40px 24px;
        box-sizing: border-box;
        font-size: 14px;
        gap: 0;
    }
    .header-bottom .m-menu .menu-item{
        /* height: 44px; */
        width: 100%;
        line-height: 44px;
    }
    .header-bottom .m-menu .menu-item+.menu-item::before{
        content: '';
        width: 100%;
        height: 1px;
        display: block;
        border-top: 1px solid rgba(255,255,255,0.24);
    }


    .header .menu-right{gap: 0; margin-left: auto;}
    .header .menu-right em{display: none;}
    .header-bottom .menu-item:first-child{
        display: block;
    }
    .header-bottom .menu-item:last-child{
        display: none;
    }
    .header-bottom .menu-item+.menu-item:hover{color: #2997ff;cursor: pointer;}


    .menu-right{gap: 0;}
    .menu-btn{
        display: inline-block;
        background: inherit;
    }
    .menu-buy{
        display: inline-block;
    }


    .menu-btn.mobile-visible.active::before{
        transform-origin: 0% -100%;
        transform: rotate(-40deg) scaleY(1.1);
        transition: transform 1s cubic-bezier(0.86, 0, 0.07, 1),transform-origin 1s cubic-bezier(0.86, 0, 0.07, 1);
    }
    .menu-btn.mobile-visible.active::after{
        transform-origin: 100% 0%;
        transform: rotate(40deg) scaleY(1.1) translate(-3px, 3px);
        transition: transform 1s cubic-bezier(0.86, 0, 0.07, 1),transform-origin 1s cubic-bezier(0.86, 0, 0.07, 1);
    }
    .header-bottom .m-dimmed{
        position: absolute;
        top: 66px;
        left: 0;
        transition: opacity 1s ease 0.1s;
        width: 100%;
        height: 100vh;
        background: rgba(0,0,0,0.4);
        opacity: 0;
        visibility: hidden;
    }
    .header-bottom .m-dimmed.active{
        opacity: 1;
        visibility:inherit;
    }
    .header-bottom .m-dimmed.active .header-bottom{
        background-color: rgba(29,29,31);
    }
    
    .header .header-bottom .m-menu.menu1{
        /* opacity: 0;
        transform: translateY(20%); */
        display: none;
        /* display: block; */
        border-bottom: 1px solid rgba(255,255,255,0.24);
    }


    .search-area{
        display: block;
        /* width: 100vw; */
        height: 100%;
        opacity: 0;
        left: 0;
        top: 0;
        transform: translateY(-100%);
        /* transform: translate(-50%, -100%); */
        transition: all 0.5s;
        visibility: hidden;
    }
    .search-area.active{
        display: block;
        transform: translateY(0);
        /* transform: translateY(0); */
        opacity: 1;
        visibility: visible;
    }
    .search-area .search-wrap{
        height: 100vh;
        box-sizing: border-box;

        transform: translateY(-100%);
        transition: all 0.5s;
        visibility: hidden;
    }
    .search-area.active .search-wrap{
        display: block;
        transform: translateY(0);
        visibility: visible;
        overflow-y: scroll;
    }

    .search-area .search-wrap .inner{
        padding: 54px 5vw 0;
        box-sizing: border-box;
    }

    .search-area .search-box{
        background: rgb(22 22 23);
        /* padding: 54px 48px 0; */
    }
    .search-area .link-box .text{
        font-size: 28px;
        font-weight: 600;
        letter-spacing: .007em;
        display: none;
    }
    .search-area .link-box .text.m-text{display: inline-block;}
    .search-area .sup-area{
        height: 100%;
        /* background-color: transparent; */
        background: rgb(22 22 23);
        color: #fff;
        border-radius: 0;
        font-size: 17px;
        padding: 44px 0 0 0;
    }
    .search-area .sup-area .sup-title{
        font-size: 17px;
        color: rgb(134, 134, 139);
        margin: 0;
        padding: 0 11px;
        text-align: left;
    }
    .search-area .sup-area .sup-list{color: #fff;padding: 9px 0 0 0;}

    .search-area .sup-area .sup-item+.sup-item{
        padding-top: 9px;
    }
    .search-area .sup-area .sup-item a{
        padding: 4px 12px 3px;
        display: flex;

        font-size: 17px;
        font-weight: 600;
        line-height: 1.4705882353;
        color: #E8E8ED;
    }
    .search-area .sup-area .sup-item a:hover{
        color:#fff
    }

    .search-area .sup-area .sup-item .m-arrow{
        fill: currentcolor;
        color: rgb(134, 134, 139);
        display: inline-block;
        margin-right: 14px;
        height: 25px;
        vertical-align: top;
    }
    .search-area .sup-area .sup-item:hover a{
        border-radius: 6px;
        background: rgb(29, 29, 31);
        color: #fff;
    }
    .search-area .sup-area .sup-item:focus a{
        border-radius: 6px;
        background: rgb(29, 29, 31);
        color: #fff;
    }
    .search-area .search-box .link-box{width: 100%;height: 40px;}
    .search-area .link-box .ic-search{
        width: 38px;
        height: 38px;
        margin-left: -5px;
        margin-right: 7px;

        background-position: 2.5px -79px;
        background-size: 33px 132px;
    }
    .search-area .link-box .close{display: none;}








    
    .part-app .part-img-box{
        width: 341px;
        height: 274px;
    }
    .sc-part .part-memory{
        width: calc((100% - 24px)/2);
    }
    .part-memory .part-img-box{
        width: 65px;
        height: 67px;
    }
    .sc-part .part-ssd{
        width: calc((100% - 24px)/2);
    }
    .sc-part .part-security{width: 100%;}


    .footer .content .guide-list{
        display: block;
        height: 100%;
        width: 100%;
        /* clear: both; */
        overflow: hidden;
    }
    .footer .content .guide-item{
        width: 50%;
        display: block;
        float: left;
        overflow: hidden;
    }
    .footer .content .guide-item:first-child .desc{
        width: 90%;
        margin: 0.4em auto 0;
    }
    .footer .content .guide-item:last-child{
        width: 100%;
        margin: 0 auto;
        padding-top: 56px;
        float: none;
    }


    .footer .store-wrapper .store-area:nth-child(2){padding-top: 0;}
    .footer .store-wrapper{display: block;height: auto;}
    .footer .store-wrapper .store-title{
        margin: 0;
    }
    .footer .store-wrapper .btn-open{
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 10px 0;
        border-top: 1px solid #424245;
        cursor: pointer;
        position: relative;

        overflow: hidden;
        background: #1d1d1f;
        z-index: 99;
    }
    .footer .store-wrapper .store-area:last-child .btn-open{border-bottom: 1px solid #424245;}
    .footer .store-wrapper .btn-open .open{
        display: block;
        transition: transform .3s ease;

        font-size: 14px;
        margin-right: 8px;
        margin-top: -2px;
        color: #fff;
    }
    .footer .store-area .store-list{
        margin: 0;
        overflow: hidden;
        padding-top: 5px;
        padding-bottom: 16px;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        visibility: hidden;
        z-index: -1;
        transform: translateY(-100px);
        will-change: transform;
    }
    .footer .store-wrapper .btn-open:focus::after{
        content: "";
        display: block;
        position: absolute;
        top: 0;
        right: -4px;
        bottom: 0;
        left: -4px;

        outline: 4px solid rgba(0,125,250,0.6);
        outline-offset: -6px;
    }


    .footer .store-area.active .btn-open .open{
        transform: rotate(45deg) scale(1.08);
    }

    .footer .store-wrapper .store-area{position: relative;overflow: hidden;}
    .footer .store-area.active .store-list{
        position: static;
        visibility: visible;
        z-index: 1;
        transform: none;
        transition: transform 300ms ease;
    }





    .footer .store-wrapper .open{display: block;}
    .footer .store-wrapper .store-list.slide{
        transform: translateY(0%);
        /* transition: all 0.5s; */
    }
    .footer .store-wrapper .store-item{
        padding: 6px 14px;
        margin: 0;
    }

    .footer .footer-copy{padding: 0 0 19px;}
    .footer .footer-copy .store-call{border-bottom: 0;}
    .footer .footer-copy .copy{
        margin-top: 36px;
        position: relative;
        flex-direction: column;
    }
    .footer .footer-copy .copy-list{
        width: 100%;
        margin-left: 0;
        margin-top: 5px;
    }
    .footer .footer-copy .korea{
        position: absolute;
        top: -29px;
        color: #d2d2d7;
        margin-left: 0;
    }
    .footer .store-wrapper .store-area .btn-open{pointer-events: initial;}










}

@media screen and (max-width: 734px) {
    /* 390잡음*/
    .header .header-bottom .bottom-title{
        opacity: .92;
        font-size: 19px;
    }
    /* .header .nav-area .m-btn.active{margin-right: 0;} */


    .header .nav-item{padding: 0;}
    .header .logo{
        width: 17px;
        height: 48px;
        background-size: 100%;
        background-position: inherit;
    }
    /* .header .nav-area .nav-right{margin-right: 32px;} */


    .footer .content .link-more{display: block;}
    .footer .content .guide-item+.guide-item{padding-top: 36px;}
    .footer .article-area .article-item:first-child{padding-top: 0.8em;}
    .footer .footer-copy .store-call{    line-height: 1.2;}
    .footer .footer-copy .copy-list{flex-wrap: wrap;}
    .footer .footer-copy .copy-item+.copy-item::before{
        height: 11px;
        margin: 0 10px 0 7px;
    }





    .footer .content .guide-list{display: block;}
}

@media screen and (max-width: 374px) {
    .header .nav-area .common-inner1{
        padding-left: 16px;
    }
    .header-bottom .common-inner1{padding: 0 16px;}
    .footer .content.sc-guide{padding: 0 16px;}
    .footer .footer-desc{padding: 0 16px;}
}
